---
import Layout from "../layouts/Layout.astro";
import ThreeScene from "../components/ThreeScene.astro";
---

<Layout>
  <main class="p-3">

    <h1 class="text-2xl p-3 font-bold">
      her står der en overskrift
    </h1>

    <!-- bagrund rundt om Three.js + knapper -->
    <div class="relative w-full max-w-xl mx-auto">

      <!-- Three.js scene (DRONEN) -->
      <div class="relative w-full max-w-xl mx-auto">
      <ThreeScene />

      <!-- TOP knapper (skjules når "Resultat" vælges) -->
    <div
  id="top-ui"
  class="hidden absolute top-3 left-1/2 -translate-x-1/2
         flex flex-row items-center justify-center gap-2 z-10"
>
      <button id="btn-lazor" class="px-3 py-2 rounded bg-white/90 text-black text-sm">
      Lazor
    </button>
    <button id="btn-ring" class="px-3 py-2 rounded bg-white/90 text-black text-sm">
      Rundbånd
    </button>
    <button id="btn-arme" class="px-3 py-2 rounded bg-white/90 text-black text-sm">
      Arme
    </button>
    <button id="btn-luft" class="px-3 py-2 rounded bg-white/90 text-black text-sm">
      Lufttrykker
    </button>
  </div>


    <!-- Resultat knapper -->
<div
  id="result-ui"
  class="hidden absolute top-3 left-1/2 -translate-x-1/2 flex flex-row items-center justify-center gap-2 z-10"
>
       <button id="btn-torus" class="px-3 py-2 rounded bg-white/90 text-black text-sm">
        Donut</button>
  <button id="btn-sphere" class="px-3 py-2 rounded bg-white/90 text-black text-sm">
    Kugle</button>
  <button id="btn-knot" class="px-3 py-2 rounded bg-white/90 text-black text-sm">
    Knude</button>
    <button id="btn-firkant" class="px-3 py-2 rounded bg-white/90 text-black text-sm">
      Firkant</button>
 

</div>


      <!-- bund knapper -->
      <div class="absolute bottom-3 right-3 z-10 flex gap-2">
       <button id="btn-reset" class="px-3 py-2 rounded bg-white/90 text-black text-sm shadow">
      Tilbage
    </button>
    <button id="btn-resultat" class="px-3 py-2 rounded bg-white/90 text-black text-sm shadow">
      Resultat
    </button>
      </div>
    </div>

    <h1 class="text-2xl p-3 font-bold">her skal min treejs drone stå</h1>
  </main>

</Layout>