---
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<img src="/billeder/forsidebillede.png" alt="Forside billede" class="w-screen h-auto mx-auto " />
  <main class="p-6">
    <h1 class="text-2xl p-3 font-bold">ET NYTÅR FOR ALLE</h1>
	<h1 class="text-sm p-3 ">FOLA er en organisation skabt af forældre i 1974, for at sikre at forældrene blev hørt af politikerne. Vi repræsenterer forældre med børn i dagpleje, vuggestuer, børnehaver og SFO samt klubtilbud. Vi sørger for, at forældrenes perspektiv på deres børns hverdag også bliver hørt inde på Chrisitiansborg og i Kommunernes Landsforening (KL). Vi taler med et landsdækkende forældremandat og jo flere vi er, desto mere bliver der lyttet til vores mærkesager.
</h1>
  </main>
</Layout>
