<div id="three-container" class="w-full h-[400px] bg-black rounded-lg"></div>

<script>
  import { startDroneScene } from "../scripts/three-drone.js";
  startDroneScene(document.getElementById("three-container"));
</script>

